appdirs==1.4.3
cffi==1.10.0
decorator==4.0.11
#This branch is needed because it support Garmin extensions (hr, temperature etc.)
git+git://github.com/mattyturner/gpxpy.git@f83986480b73a14174cfc9741ec27137c5b5273b#egg=gpxpy-0
imageio==2.1.2
moviepy==0.2.3.2
numpy==1.12.1
olefile==0.44
packaging==16.8
pycparser==2.17
pynmea2==1.7.1
pyparsing==2.2.0
six==1.10.0
tqdm==4.11.2
ExifRead==2.1.2
#Optional
#map
#mapnik==0.1
#pyproj==1.9.5.1
#Elevation/speed etc chart
#matplotlib==2.1.0
#Gauges
#cairocffi==0.8.0
#CairoSVG==2.1.1
#svgutils==0.3.0
# Dev/Deployment
#sphinx
#sphinx_rtd_theme
#nose
#coverage
#pypi-publisher
